.user-list {
  width: 100%;
}

.user-list th {
  color: var(--table-header-color);
  background-color: rgba(0, 0, 0, 0.1);
}

.user-list th,
.user-list td {
  border: 1px solid lightgray;
  padding: 0.5rem;
}
