.btn {
  color: #fff;
  background: var(--primary);
  border-radius: 3rem;
  border: var(--btn-border-radius) solid transparent;
  padding: 0.5rem 1.5rem;
}

.btn:hover {
  color: var(--primary);
  background-color: #fff;
  border: var(--btn-border-radius) solid var(--primary);
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}
